.user-name {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-name h5 {
  margin-bottom: 0;
  font-weight: 500;
}
.plus-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  color: #b1b1b1;
  font-weight: 400;
}
.delete-icon {
  color: #e63946;
  font-size: 1.5rem;
  cursor: pointer;
}
.notes-nav a {
  font-size: 25px;
  font-weight: 600;
  color: #065bff;
}
.search-input {
  position: relative;
}
.search-input input {
  padding: 8px 8px 8px 40px;
}
.search-input input::placeholder {
  font-size: 18px;
  color: #7f7f7f;
  font-weight: 400;
}
.search-icon {
  position: absolute;
  top: 30%;
  left: 3%;
  font-size: 18px;
  color: #7f7f7f;
}
.notes-dashboard {
  background-color: #e0e0e0;
  height: 100vh;
}
.notes-content {
  height: 100vh;
  background-color: #f7f7f7;
  overflow-y: scroll;
}
.notes-content::-webkit-scrollbar {
  display: none;
}
.notes-editor {
  background-color: #fff;
}
.notes-editor .note-title {
  border: 2px solid #eeeeee;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0;
  border-right: 0;
}
.note-title select {
  border: none;
  font-weight: 500;
  background-image: unset;
  padding: 2px 0px 2px 2px;
  font-size: 18px;
  text-align: center;
}
.note-title select:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.title {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
/* style for lable dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
}
.selected-option {
  cursor: pointer;
  padding: 8px;
}
.lable-color {
  display: flex;
  align-items: center;
}
.color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
}
.option {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.option:hover {
  background-color: #f0f0f0;
}
/* xdfhjgdfj */
.note-headings {
  display: flex;
  align-items: center;
}
.note-headings h3 {
  margin-bottom: 0;
}
.date-label {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.date-label h6 {
  margin-bottom: 0;
}
.time-lable span {
  color: #acacac;
  font-weight: 400;
}
.time-lable {
  display: flex;
  gap: 1rem;
}
.note-save-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.note-save-btn button {
  border: none;
  padding: 6px 25px;
  font-size: 18px;
  font-weight: 600;
}
.card-label-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-card {
  padding: 5px 9px;
  border-radius: 5px;
  color: #a94204;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: end;
  gap: 5px;
}
.card-title.note-cards-title {
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 15px;
  padding-bottom: 1.2rem;
  font-size: 22px;
  font-weight: 600;
}
.card.notes-card {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.notes {
  padding-top: 25px;
}
.notes-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.notes-card .card-body {
  padding: 1.2rem;
}
.notes-card p {
  color: #636363;
  line-height: 25px;
}
.no-notes-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e0e0e0;
}
.no-notes-msg h3 {
  color: #1e47a9;
  font-weight: 600;
  font-size: 50px;
}
.plus-icon .icon {
  font-size: 25px;
  cursor: pointer;
}
.note-created-date {
  color: #a3a3a3;
}
.note-not-found {
  text-align: center;
  color: #1e47a9;
  font-size: 18px;
}
.col.notes-content {
  padding: 0 20px;
}
.col.notes-editor {
  padding: 0;
}
.col.note-haeder {
  padding: 0;
}
.note-haeder .notes-nav {
  padding: 10px 20px;
}
.edit-border {
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 5px;
}
.delete-icon {
  color: red;
  cursor: pointer;
}
.awssld__content {
  background-color: #fff !important;
}
.slider-notes {
  display: none;
}
.awssld__box {
  height: 250px !important;
}
.awssld__controls {
  display: none;
}
.awssld__bullets {
  position: absolute;
  top: 218px;
  width: 100%;
  z-index: 11;
}
.awssld__wrapper {
  height: 300px !important;
}
/* media query */
@media screen and (max-width: 1199px) {
  .col.notes-content {
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .notes-cards {
    display: none;
  }
  .card.notes-card {
    min-width: fit-content;
  }
  .notes-content {
    flex-direction: column;
  }
  .slider-notes {
    display: block;
  }
  .notes-content {
    height: 100%;
  }
  .awssld__bullets button{
    background-color: #e0e0e0 !important;
  }
}
@media screen and (max-width: 460px) {
  .notes-card p {
    margin-bottom: 5px;
  }
  .notes-card .card-body {
    padding: 10px;
  }
}
